:root {
  color-scheme: light;
}

html,
body {
	height: 100%;
	margin: 0;
	font-family: 'Segoe UI', Roboto, sans-serif;
	background-color: #e7e5e5;

}

.auth-container {
	display: flex;
	height: 100vh;

	.left-pane {
		flex: 1;
		background: url('/assets/auth-bg.jpg') no-repeat center/cover;
		color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 2rem;
	}

	.right-pane {
		flex: 1;
		background: #fff;
		padding: 3rem;
		display: flex;
		flex-direction: column;
		justify-content: center;

		form {
			display: flex;
			flex-direction: column;

			input {
				margin: 0.5rem 0;
				padding: 0.75rem;
				border: 1px solid #ccc;
				border-radius: 8px;
			}

			button {
				margin-top: 1rem;
				padding: 0.75rem;
				background: #10b981;
				border: none;
				color: white;
				font-weight: bold;
				border-radius: 8px;
				cursor: pointer;
			}

			a {
				color: #10b981;
				font-weight: 600;
				cursor: pointer;
			}
		}
	}
}