<div class="row text-center mb-4">
    <div class="col-md-4">
        <div class="card border-success">
            <div class="card-body">
                <h5>Income</h5>
                <h3>$4,250.00</h3>
                <p class="text-success">+12% from last month</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-danger">
            <div class="card-body">
                <h5>Expenses</h5>
                <h3>$2,840.00</h3>
                <p class="text-danger">+8% from last month</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary">
            <div class="card-body">
                <h5>Balance</h5>
                <h3>$1,410.00</h3>
                <p class="text-primary">+20% from last month</p>
            </div>
        </div>
    </div>
</div>